/* common */
@import "/css/playlist/reset.css";
@import "/css/playlist/nav.css";

/* palylist.html */
@import "/css/playlist/main.css";
@import "/css/playlist/control.css";
@import "/css/playlist/song.css";
@import "/css/playlist/component.css";

/* display_music */
@import "/css/display_music/display.css";
@import "/css/display_music/music_bar.css";
@import "/css/display_music/display_control.css";

body{
    height: 100%;
    overflow: auto;
    font-family: 'Comfortaa', cursive;
    background-color: rgba(0,0,0,0.2);
}

.page{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.play_song_page{
    width: 530px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: white;
}


.play_list_page{
    width: 530px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: white;
}
