/* common */
@import "reset.css";
@import "nav.css";

/* palylist.html */
@import "main.css";
@import "control.css";
@import "song.css";
@import "component.css";

/* display_music */
@import "display.css";

body{
    height: 100%;
    overflow: auto;
    font-family: 'Comfortaa', cursive;
}


